Package: APPLICATION_PACKAGE
Version: APPLICATION_VERSION_WITH_RELEASE
Section: APPLICATION_SECTION
Maintainer: SPS-Lab <stepss@sps-lab.org>
Priority: optional
Architecture: APPLICATION_ARCH
Provides: APPLICATION_PACKAGE
Description: APPLICATION_DESCRIPTION
Depends: PACKAGE_DEFAULT_DEPENDENCIES PACKAGE_CUSTOM_DEPENDENCIES
Recommends: gfortran, make, libopenblas-dev
Installed-Size: APPLICATION_INSTALLED_SIZE
APPLICATION_HOMEPAGE
